@import './base.css';

/* #app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
body {
    background-color: #f9f9f9ff;
    padding: 180px 180px 0px 180px;
}
.bg-body-blue{
  background-color: #91d1dcff;
  padding:20px 5px 20px 5px;
}
.h1 {
  font-size: 25px;
}
h2 {
  font-weight: 500 !important;
  font-size: 30px;
}
.nav-link {
  font-size: 20px;
}
.nav-link:hover {
  color:#FFFFFF;
}
.text-light-dark{
    color:#666666;
}
.text-dark{
    color: #434343;
}
.left{
  text-align: left;
}
.right{
  text-align: right;
}
.center{
  text-align: center;
}
.poppins-regular{
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.baloo-2-regular {
  font-family: "Baloo 2", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.icon{
  width: 100px;
  margin-bottom: 15px;
}
#home {
  display: flex;
  /* align-content: center; */
  margin: auto;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 110px 0px 120px 0px;
  border-radius: 15px;
  border: 3px solid #efefef;
  background-color: #ffffff;
}
#home p{
  font-size:30px;
  margin: auto;
}
#complete {
  display: flex;
  /* align-content: center; */
  margin: auto;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 110px 0px 110px 0px;
  border-radius: 15px;
  border: 3px solid #efefef;
  background-color: #ffffff;
}
#complete p{
  font-size:30px;
  margin: auto;
}
#complete div{
  display:flex;
  justify-content: space-between;
  /* flex-wrap: wrap; */
  gap: 25px;
}
#score {
  display: flex;
  align-content: center;
  margin: auto;
  justify-content: space-between;
  /* align-items: baseline; */
  flex-wrap: wrap;
  margin-bottom: 30px;
  width: 100%;
  padding: 20px 30px 0px 30px;
  border-radius: 15px;
  border: 3px solid #efefef;
  background-color: #ffffff;
  font-size: 25px;
}
#unitCircle {
  display: flex;
  align-content: center;
  margin: auto;
  justify-content: space-evenly;
  /* align-items: baseline; */
  flex-wrap: wrap;
  /* margin-bottom: 30px; */
  width: 100%;
  padding: 50px 0px 60px 40px;
  border-radius: 15px;
  border: 3px solid #efefef;
  background-color: #ffffff;
}
#bulletPoints {
  text-align: left;
  margin: auto;
  font-size: 25px;
  color:#666666;
}
input {
    color: #F2F3F1;
}
#home .btn {
  width: 140px;
  height: 45px;
}
.btn{
  background-color: #e0f6fbff;
  border: 1px solid #96bdc4;
  margin-top: 15px;
  font-size:18px;
  /* width: 140px;
  height: 45px; */
}
.btn:hover{
  background-color:#96bdc4;
}

#questionaire{
  position:relative;
}
#questionaire img {
  position: absolute;
  top: 81%;
  left: 110px;
  width:50px;
  background-color: transparent;
}

.correct-enter-active, .correct-leave-active, .wrong-enter-active, .wrong-leave-active {
  transition: opacity 0.7s ease, transform 0.7s ease;
}
.correct-enter-from, .correct-leave-to, .wrong-enter-from, .wrong-leave-to {
  opacity: 0;
  transform: translateY(20px);
}

@media (max-width: 990px){
  body {
    background-color: #f9f9f9ff;
    padding: 180px 100px 0px 100px;
  }
  #unitCircle{
    /* width: 100%; */
    padding: 40px 0px 50px 30px;
  }
}
@media (max-width: 760px){
  body{
    padding: 170px 30px 0px 30px;
  }
  .bg-body-blue{
    background-color: #91d1dcff;
    padding:12px 5px 12px 5px;
  }
  #score{
    margin-bottom: 35px;
  }
  #home{
    width:100%;
    padding: 100px 0px 110px 0px;
  }
  #complete{
    width:100%;
    padding: 100px 0px 110px 0px;
  }
  #unitCircle{
    width: 100%;
    padding: 50px 0px 60px 30px;
  }
  #questionaire img {
    top: 8%;
  }
}
@media (max-width: 630px){
  #unitCircle{
    width: 100%;
    padding: 40px 0px 50px 10px;
  }
}
@media (max-width: 432px){
  body{
    padding: 150px 20px 0px 20px;
  }
  .h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 25px;
  }
  .nav-link{
    font-size: 15px;
  }
  .bg-body-blue{
    background-color: #91d1dcff;
    padding:10px 5px 8px 5px;
  }
  #score{
    font-size: 20px;
    margin-bottom: 40px;
  }
  #home{
    width:100%;
    padding: 90px 0px 100px 0px;
  }
  #complete{
    width:100%;
    padding: 90px 0px 100px 0px;
  }
  #unitCircle{
    width: 100%;
    padding: 40px 0px 50px 14px;
  }
  #bulletPoints{
    font-size: 20px;
  }
  #questionaire img {
    top: 79%;
  }
}